@import "src/styles/variables";
@import "src/styles/mixins";

.body {
  display: flex;

  .notesBlock {
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 1px 10px $primaryColor;
    background-color: $bgColor2;

    .title{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    //.button{
    //  display: flex;
    //  justify-content: center;
    //  margin: 10px;
    //}
    .tag {
      font-size: 30px;
      margin: 10px;
      border: 1px solid;
      box-shadow: 0 1px 10px $primaryColor;
      background-color: $bgColor2;

      .tagsStyle {
        @include text($TitleFontFamily, 20px, 1.2);
        list-style-type: none;
      }

      .tagsStyle:hover {
        color: #ffffff;
      }
    }

  }

}





